@import 'variables';  // Assuming _variables.scss is in the same directory

// *{
//   border: 1px solid red; // Will show the boundary of each element
// }

//index.scss
body {
  background-color: $background-color;
  color: $text;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  // overflow: hidden; // Prevents any scrolling
}

//navbar

// .navbar {
//   background-color: $background-color;
//   color: $text;
//   width: 100%;
//   padding: 1em;
//   height: 7em;
//   $bulma-navbar-item-img-max-height: 2.5em;
// }

// .navbar {
//   background-color: $background-color;
//   color: $text;
//   width: 100%;
//   padding: 1em;
//   height: 6em;  // Specifies the height of the navbar
// }

// .navbar-brand {
//   height: 100%;  // Ensures the navbar-brand container takes full height of the navbar
//   display: flex;
//   align-items: center;  // Centers the logo vertically within the navbar
//   width: 20vw;
//   min-width: 100px;
//   margin: 0;
//   padding: 0;
// }


/////////////////////////////////////////////////////

.navbar-item{
  height: 100%;
  width: auto;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.75rem;
}

.navbar-item:hover{
  background-color: none;
}


#nav-logo {
  min-height:30px;
  height: auto;  // Adjust this percentage as needed to scale the logo properly within the navbar
  width: auto;  // Maintains the aspect ratio of the image
  max-height: 3.25rem;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: rgba($background-color, 0.95);
  z-index: 1000;
  width: 100%;
  padding: 1em;
  height: auto; // Allow the navbar height to adjust based on content

  .navbar-brand {
    flex-grow: 0; // Keeps the brand logo from stretching
  }

  .navbar-burger {
    display: block; // Always show the burger menu
    margin-left: auto; // Pushes the burger to the right
  }

  .navbar-menu {
    display: none; // Hide by default

    &.is-active {
      display: flex;
      flex-direction: column; // Align items vertically in a column
      align-items: center; // Center items horizontally
      position: absolute;
      top: 100%; // Start right below the navbar
      left: 0;
      right: 0; // Ensure it spans the entire navbar width
      background-color: rgba($background-color, 0.95);
      width: 100%; // Full width
    }
  }

  .navbar-end {
    display: flex;
    flex-direction: column; // Ensure items are in a column
    width: 100%; // Take full width
    align-items: center; // Center items within the column
  }
}

@media screen and (min-width: 1088px) {
  .navbar-menu {
    justify-content: center; // Center items for larger screens
  }
}

////////////////////////

// .navbar-item {
//   height: 100%;
//   width: auto;
//   color: #FFFFFF;
//   text-align: center;
//   font-size: 1.75rem;
// }

// .navbar-item:hover {
//   background-color: none;
// }

// #nav-logo {
//   min-height: 30px;
//   height: auto; // Adjust this percentage as needed to scale the logo properly within the navbar
//   width: auto; // Maintains the aspect ratio of the image
//   max-height: 3.25rem;
// }

// .navbar {
//   position: sticky;
//   top: 0;
//   background-color: rgba($background-color, 0.95);
//   z-index: 1000;
//   width: 100%;
//   padding: 1em;
//   height: auto; // Allow the navbar height to adjust based on content

//   .navbar-brand {
//     flex-grow: 0; // Keeps the brand logo from stretching
//   }

//   .navbar-burger {
//     display: block; // Always show the burger menu
//     margin-left: auto; // Pushes the burger to the right
//   }

//   .navbar-menu {
//     display: none; // Hide by default
//     position: fixed;
//     top: 0;
//     right: -300px; // Start off-screen to the right
//     height: 100%;
//     width: 300px; // Adjust the width as needed
//     background-color: rgba($background-color, 0.95);
//     flex-direction: column; // Align items vertically in a column
//     align-items: center; // Center items horizontally
//     transition: right 0.3s ease; // Smooth slide-in effect

//     &.is-active {
//       right: 0; // Slide in from the right
//       display: flex; // Ensure the menu is visible when active
//     }
//   }

//   .navbar-end {
//     display: flex;
//     flex-direction: column; // Ensure items are in a row
//     align-items: center; // Center items within the row
//   }
// }

// @media screen and (max-width: 1087px) {
//   .navbar-menu {
//     display: none; // Hide by default
//     position: absolute;
//     top: 100%; // Position right below the navbar
//     left: 0;
//     right: 0;
//     background-color: rgba($background-color, 0.95);
//     flex-direction: column; // Align items vertically in a column
//     align-items: center; // Center items horizontally
//     transition: none; // No transition effect for mobile

//     &.is-active {
//       display: flex; // Show the menu
//     }
//   }

//   .navbar-end {
//     display: flex;
//     flex-direction: column; // Ensure items are in a column for mobile
//     width: 100%; // Take full width
//     align-items: center; // Center items within the column
//   }
// }

// @media screen and (min-width: 1088px) {
//   .navbar-menu {
//     display: flex; // Ensure the menu is always visible on larger screens
//     position: fixed; // Ensure it is positioned fixed for larger screens
//     top: 0;
//     right: -300px; // Start off-screen to the right
//     height: 100%; // Full height of the screen
//     width: 300px; // Adjust the width as needed
//     background-color: rgba($background-color, 0.95);
//     flex-direction: column; // Align items vertically in a column
//     align-items: center; // Center items horizontally
//     transition: right 0.3s ease; // Smooth slide-in effect

//     &.is-active {
//       right: 0; // Slide in from the right
//     }
//   }

//   .navbar-end {
//     flex-direction: row; // Ensure items are in a row for larger screens
//     width: auto; // Reset width for larger screens
//     align-items: center; // Center items within the row for larger screens
//   }
// }

.is-sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays on top of other elements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for better visibility */
}

.hero-top-margin{
  margin-top: 8vh;
}

@media (max-width: 768px) {
  .hero-top-margin{
    margin-top: 10vh;
  }
}

//text gradient
.gradient-text {
  background-image: linear-gradient(to right, #FF0072, #2476FF);
  width: fit-content;  // Adjust based on desired width
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
 
//gradient colors
$gradient-start: #FF0072; // Start color of the gradient
$gradient-end: #2476FF ; // End color of the gradient

//gradient button
.btn,.btn-1 {
  padding: 5px 20px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  background: linear-gradient(to right, $gradient-start, $gradient-end);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 20px;
    background-color: $background-color;
    z-index: -1;
    transition: 200ms;
  }

  &::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, $gradient-start, $gradient-end);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
  }

  &:hover {
    &::before {
      opacity: 0.5; // Adjusted to correct CSS value for opacity
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &::after {
      color: white;
    }
  }
}

//hero title
.hero-title {
  // font-family: 'GreycliffCF', sans-serif;
  font-size: calc(12px + 5vw); //calc(12px + 1.5vw)
  font-weight: 400;
  text-align: center;
  line-height: 1.3em;
  z-index: 2;
  position: relative;

}

.bold {
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.center-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns items to the start of the container vertically */
  align-items: center; /* Centers items horizontally */
  height: 100%; /* Ensures the div takes full height of the parent, adjust if necessary */
}

//splashscreen animations

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: #282626; // Initial solid background for logo
}

.logo-container img {
  transition: opacity 2s ease;  // Smooth transition for opacity changes
  opacity: 0;                   // Start with the logo invisible
  width: 200px;
  height: auto;
}


.gradient-screen {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100vw;
  height: 100;
  display: none; // Initially hidden
  flex-direction: column;
  background-color: transparent; // Ensure gradient screen is transparent
  translate: translateY(100%); // Start off-screen
}



* {
  box-sizing: border-box; // Ensures padding and border are included in the width/height
}

body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; // Ensure the body and html are also taking the full viewport height
  // overflow: hidden; // Prevent scrolling which can disrupt full-height displays
  background-color:$background-color;
}

#splash-screen, .gradient-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; // Full viewport width
  height: 100vh; // Full viewport height
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden; // Prevents any overflow content from being visible
}

.gradient-part {
  flex: 1; // Ensures each part stretches to fill the space evenly
  width: 100%; // Full width of the container
  background: linear-gradient(to right, $gradient-start, $gradient-end);
  opacity: 0; // Initially invisible
  transform: translateY(0%); // Start correctly positioned, no vertical offset
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

#hero-img{
  width: 97.5%;
  height: 60vh;
  object-fit: cover; /* Ensure the image covers the entire area without distortion */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  transform: translateY(-6%);
}

@media (max-width: 768px) {
  .hero-title {
    font-size: calc(12px + 7vw);
  }

  #hero-img {
    object-fit: contain; /* Changes from cover to contain to ensure the whole image is visible */
    width: 100vw;
    height: auto;
    padding: 2.5em 0 0em 0; //padding: 2em 0 ;
    scale: 1.2;
  }

  .hero-body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
  }

  .center-div{
    padding: 0;
    margin: 0;
  }

  .hero{
    margin: 0;
    padding: 0;
    $hero-body-padding-small:0;
    $hero-body-padding:0;
  }
}

@media (min-width: 1024px) {
  #hero-img{
    transform: translateY(-12%);
  }
}

.full-height {
  height: 100vh; // Ensures the element takes up the full viewport height
}

.scroll-snap{
  scroll-snap-align: center; // Ensures the element snaps to the center of the viewport when scrolling
  scroll-snap-type: y mandatory; // Ensures the element snaps to the center of the viewport when scrolling
}

.sub-heading {
  font-size: calc(12px + 1vw);
  text-align: center;
  margin: 0.5em 0;
}

.sub-heading-border{
  background-color: $gradient-start;
}

//modal 
.text-container {
  margin: 20px;

  // .text-content {
  //   // display: block; // Default to display block
  // }

  .text-button, .text-button-1 {
    // display: none; // Default to display none
    // background-color: #007BFF;
    // color: white;
    // border: none;
    // padding: 10px 20px;
    // border-radius: 5px;
    // cursor: pointer;
    margin-left: 0.5em;
  }
}

.inline-btn-container{
  display: flex;       /* Establishes a flex container */
  // justify-content: space-between; /* Distributes space evenly between children */
  align-items: center; /* Vertically centers the items in the container */
  flex-direction: row;
  margin-top: 0.5em;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  // width: 90%;
  // max-width: 600px;
  width: 100vw;
  height: 100vh;
  background-color: #171616;
  overflow: scroll;
}

.modal-content {
  background-color: #171616;
  width:  85vw;  /* Adjusts width to fit within the modal */
  max-width: 650px; /* Optional, for better readability on larger screens */
  max-height: 100%; /* Ensures content does not exceed the modal */
  // overflow: auto; /* Allows scrolling within the modal content if needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distributes space around items */
  text-align: justify;
  padding: 2em 1em 2em 1em; /* Increase right padding */
  // padding: auto 3em;
  font-size: calc(13px + 1vw);
  scrollbar-width: none;
}

//desktop screen size for modals
@media (min-width: 768px) {
  #our-founders-modal-content{
    width:  100%;  /* Adjusts width to fit within the modal */
    max-width: 800px; /* Optional, for better readability on larger screens */
  }

  .image-wrap-left {
    float: left; // Aligns the image to the left
    margin-right: 25px; // Adds space between the image and the text
    width: 35%; // Sets the width of the image container
  
    img {
      width: 100%; // Ensures the image fills the container
      height: auto; // Maintains the aspect ratio of the image
      display: block; // Removes any default inline spacing
    }
  }

  .image-wrap-right{
    float: right; // Aligns the image to the left
    margin-left: 25px; // Adds space between the image and the text
    width: 35%; // Sets the width of the image container
  }

  .text-wrap {
    h3.founders-name {
      margin-top: 0; // Adjusts spacing at the top of the header
    }
  
    // p {
    //   text-align: justify; // Justifies the text for better alignment
    // }
  }

  .founder{
    width: 100%;
  }

}

@media (max-width: 767px) {
  #our-founders-modal-content{
    width:  94%;  /* Adjusts width to fit within the modal */
    height: 95%;
  }
}

.outer-modal-content {
  height: 100%;
}
.modal-content {
  overflow: auto;
}



//center close button
.center-btn{
  width: auto;
  margin: auto;
}

.origin-text{
  margin: auto;
  width: 90%;
}

.button-top-right {
  position: absolute;
  right: 0em; /* Right alignment with padding */
  top: 1.25em; /* Top alignment with padding */
  background: none;
  border: none;
  color: inherit; /* Inherits the color from the parent or can be set explicitly */
  font-size: 1.5em;
  cursor: pointer;
}

#our-founding-fathers-1{
  margin: auto;

}

.founding-div{
  width: 100%;
  margin-top: 1em;
  padding:auto;
  display: flex;
  align-items: center;
  justify-self: center;
}

.founder-images {
  border-radius: 2px;
}

.founder-name {
  font-size: 2.25em; /* 20% larger than the body text */
  font-weight: bold;
}

.founder-title {
    font-size: 1.5em; /* 10% larger than the body text */
    color: #fff;
}

.founder-profile p {
    line-height: 1.6;
    margin-bottom: 10px;
}

.justified{
  text-align: justify;
}


.close {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal-content {
        font-size: 16px; /* Larger base font-size for larger screens */
    }
}

// Use for larger screens
@media (min-width: 768px) {
  .text-content {
    display: block;
  }
  .text-button {
    display: none;
  }
  .origin-text{
    display: none;
  }
  .text-container{
    display: block;
  }
  #our-founding-fathers-1{
    display: block;
  }
  .text-button-1{
    display: block;
  }
  .btn-1{
    display: block;
  }
}

// Use for smaller screens
@media (max-width: 767px) {
  .text-content {
    display: none;
  }
  .text-button {
    display: block;
    width: fit-content;
    margin-left: 1.5em;
  }
  .origin-text{
    display: block;
  }
  .text-container{
    display: none;
  }
  #our-founding-fathers-1{
    display: hidden;
  }
  .text-button-1{
    display: hidden;
  }
  .btn-1{
    display: hidden;
  }
}

.text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content; // Ensures the div takes full viewport height
}

.about-us-container {
  display: flex;
  width: 100%; // Adjust this as necessary
  max-width: 1350px; // Ensures the container doesn't get too wide on large screens
  padding: 20px;
  box-sizing: border-box;
}

.titles-container {
  flex: 1; // Takes up 1 part of the container
  padding-right: 20px; // Adds space between the titles and the description
}

.description-container {
  flex: 2; // Takes up 2 parts of the container, making it larger
}

h2, h3, p {
  margin: 0; // Removes default margins
  padding: 0px 0; // Adds vertical padding for spacing
}

h2 {
  font-size: calc(18px + 1vw); // Example size, adjust as needed
}

h3 {
  font-size: calc(16px + 1vw); // Example size, adjust as needed
}

p {
  font-size: calc(14px + 0.5vw); // Text size for paragraph
  line-height: 1.5; // Line height for better readability
}

.semi-bold{
  font-weight: 500;
}

.left-border {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px; // Width of the border
    background: linear-gradient(to bottom, $gradient-start, $gradient-end); 
    border-radius: 20px;
  }

  h2 {
    margin: 0;
    padding-left: 10px; // Adjust if needed to provide space for the pseudo-element
  }
}

//our values

// .value-box {
//   display: flex; // Making the value box a flex container
//   flex-direction: column; // Arranging children vertically
//   justify-content: center; // Centering children vertically within the container
//   align-items: center; // Centering children horizontally
//   color: white; // Ensuring text color is white for readability
//   min-height: 230px; // Adjust height based on content size
//   text-align: center; // Centering text horizontally, applied globally here for simplicity

//   p {
//       font-size: 1.1rem;  // Standard font size
//   }

//   .value-text {
//       margin: auto; // Auto margins can help further center content if needed
//       width: 100%; // Ensures the text centering takes into account the full width
//   }

//   .value-title{
//     position: relative;
//     transform:translateY(1em);
//     overflow: visible;
    
//   }
// }

.section {
  // background-color: #222; // Assuming a dark background
  color: white;
  padding: 20px;
  margin: 20px;
}

// .columns {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); // Adjusts number of columns based on the available width
//   gap: 15px; 
// }

.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Ensures three columns of equal width
  gap: 0px;
  // width: 90%;
}



.value-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Adjust content spacing
  align-items: center;
  padding: 15px;
  // background: #333; // Slightly different background for boxes
  border-radius: 10px;
  // box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  min-height: 100%; // Ensures that all boxes take up the full height of the tallest box
  height: 100%;
  color: white;
  
  
  
  .value-text {
    margin-bottom: 12px; // Ensures consistent spacing for the title
    text-align: center;
    font-size: 18px;
    margin-top: -20px;
    align-self: start;
    align-items: flex-start;
    flex-direction: column;
  }

  .value-title-container{
    background-color: $background-color;
    transform: translateY(-50px);
    // position: absolute;
    padding: 1rem;
    overflow:visible;
  }
  
  .value-title {
    // font-size: 1.9em; // Ensures visibility on all devices
    text-transform: uppercase; // Style as seen in the image
    color: #fff; // Example color for the title
    // margin-top: auto; // Pushes the title to the bottom of the box
    margin-bottom: -20px;
    white-space: nowrap;
  }
}

// .value-title {
//   font-size: 1.9em; // Ensures visibility on all devices
//   text-transform: uppercase; // Style as seen in the image
//   color: #fff; // Example color for the title
//   // margin-top: auto; // Pushes the title to the bottom of the box
//   margin-bottom: -20px;
//   white-space: nowrap;
// }

.value-box:hover{
  background-color: none;
}

@media (min-width: 768px) {
  .value-title {
    font-size: 2.5em; // Ensures visibility on all devices
    text-transform: uppercase; // Style as seen in the image
    color: #fff; // Example color for the title
    // margin-top: auto; // Pushes the title to the bottom of the box
    margin-bottom: -20px;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .columns {
    grid-template-columns: 1fr; // Single column layout for small screens
    gap: 20px;
  }
  .section {
    margin: 5px;
  }
  .value-title {
    font-size: 1.75em;
  }
  .value-text {
    font-size: 14px;
  }
}

.stop-hover-animation {
  &:hover {
    transition: none !important;
    background-color: none;
  }
}

.full-width{
  display: block;
  height: auto;
  width: 100%;
}


.value-gradient-hover {
  // padding: 5px 20px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  background: linear-gradient(to right, $gradient-start, $gradient-end);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 20px;
    background-color: $background-color;
    z-index: -1;
    transition: 200ms;
  }

  &::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, $gradient-start, $gradient-end);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
  }

  &:hover {
    &::before {
      opacity: 1.0; // Adjusted to correct CSS value for opacity
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      scale: 0.95;
    }

    &::after {
      color: white;
    }
  }
}

//service image not value image

.value-img-1{
  width: 50px;
  height: 50px;
  // margin-bottom: -60px;
  // margin-left: -10px;
  // margin-top: -40px;
  padding: 0;
}

.value-img-2{
  width: 10px;
  height: 10px;
  scale: 0.7;
  // margin-bottom: -50px;
  // margin-top: -50px;
  padding: 0;
}

.value-img-3{
  width: 50px;
  height: 50px;
  // margin-top: -45px;
  // margin-bottom: -50px;
  padding: 0;
}

.value-img-4{
  scale: 0.9;
  width: 45px;
  height: 45px;
  // margin-bottom: -30px;
  // margin-top: -65px;
  padding: 0;
  filter: invert(1);
  transform: translateY(1.25em);
}

.value-img-5{
  scale: 0.8;
  // margin-bottom: -40px;
  // margin-top: -60px;
  padding: 0;
  transform: translateY(0.5em);
  filter: invert(1);
}

//services section
// .service-tile {
//   display: flex;
//   align-items: center;
//   margin-bottom: 2rem;
//   flex-direction: column;
//   text-align: center;

//   img {
//       width: 100%; // Full width on mobile
//       height: auto;
//       max-height: 300px; // Keeps image height uniform
//       object-fit: cover; // Ensures the image covers the area without distorting aspect ratio
//       border-radius: 10px; // Rounded corners as shown in your image
//   }

//   div {
//       padding: 20px;
//       color: #fff;
//       // background-color: rgba(0,0,0,0.5);
//       width: 100%; // Full width to match image on mobile

//       h2 {
//           color: #f0f0f0;
//           font-size: 24px; // Smaller font size for mobile
//       }

//       p {
//           margin: 20px 0;
//           font-size: 16px; // Smaller text size for better readability on mobile
//       }

//       a {
//           margin-top: 20px; // More space around the button for easier tapping
//       }
//   }

//   &.reverse {
//       flex-direction: column-reverse; // Maintain top image and bottom text order on mobile
//   }
// }

// // Media query for larger screens
// @media (min-width: 769px) {
//   .service-tile {
//       flex-direction: row;
//       align-items: center;

//       img {
//           width: 50%; // Adjust based on your layout needs on desktop
//       }

//       &.reverse {
//           flex-direction: row-reverse;
//       }
//   }
// }

/* Base styles for services */
.services-section {
  padding: 20px 0;
}

.services-container {
  max-width: 1350px;
  width: 100%;
  margin: auto;
}

.services-row {
  display: flex;
  flex-direction: column; /* Stack them vertically on mobile */
  align-items: center;
  margin-bottom: 40px;
}

.services-column {
  flex: 1;
  width: 100%;
}

.services-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  // border-radius: 8px;
}

.services-content {
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
}

.services-title {
  font-size: 28px;
  color: #F72585; /* Pinkish hue for title */
  margin-bottom: 10px;
}

.services-button {
  background-color: #4CC9F0; /* Cyan for the button */
  color: white;
  padding: 10px 20px;
  border-radius: 25px; /* Rounded borders for the button */
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 10px auto; /* Center button */
  transition: background-color 0.3s;
}

.services-button:hover {
  background-color: darken(#4CC9F0, 10%);
}

/* Desktop styles */
@media (min-width: 768px) {
  .services-row {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .services-content p { /* Hide details on mobile */
    display: block;
  }

  .services-image img {
    max-height: 300px;
  }

  .services-content {
    text-align: left;
  }

  .services-title {
    font-size: 60px; /* Larger title for desktop */
    margin-bottom: 0.15em;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .services-content p {
    display: none; /* Hide lengthy descriptions on mobile */
  }

  .services-title {
    font-size: 24px; /* Smaller font size suitable for mobile */
  }

  .services-image{
    width: 100%;
    display: flex; /* Flex container for centering the image */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content (if necessary) */
  }

  .services-image img {
    width: 90%;
    height: auto;
    // object-fit: cover;
    margin: auto 0;
    min-width: 300px;
    // border-radius: 8px;
  }

  .eng-title{
    order:2 ;
  }

  .eng-img{
    order:1 ;
  }
}


@media (min-width: 767px) {
    .services-btn{
    display: block;
    width: fit-content;
    text-decoration: none;
    color: #fff;
  }
}

a{
  text-decoration: none;
}


//value propositions 

// .value-propositions {
//   // background-color: #1b1b1b;
//   color: #ffffff;
//   padding: 2rem 1rem;

//   .title {
//     color: #9e9e9e;
//   }

//   .columns {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;

//     .column {
//       display: flex;
//       flex-direction: column;

//       .proposition {
//         background: $background-color;
//         border-radius: 5px;
//         margin-bottom: 1rem;
//         padding: 1rem;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;

//         .proposition-header {
//           display: flex;
//           justify-content: space-between;
//           cursor: pointer;
//           padding: 0.5rem 0;
//           font-weight: bold;
//           border-bottom: 1px solid #444;
//           text-align: center;
//           min-height: 4rem;
//           align-items: center;
//           flex-direction: column;

//           &:hover {
//             color: #00d1b2;
//           }
//         }

//         .proposition-dropdown {
//           display: none;
//           padding: 0.5rem 0;
//         }

//         .proposition-dropdown.visible {
//           display: block;
//         }
//       }
//     }
//   }
// }

@media (min-width: 769px){
  .value-propositions {
    color: #ffffff;
    padding: 2rem 1rem; /* Adjust overall padding around the columns */

    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .column {
      display: flex;
      flex-direction: column;

      .proposition {
        background: $background-color; /* Make sure this variable is defined or replace with a hex color */
        border-radius: 5px;
        margin-bottom: 1rem;
        padding: 0.5rem; /* Reduced padding */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .proposition-header {
          display: flex;
          justify-content: center; /* Centered content horizontally */
          cursor: pointer;
          padding: 0.5rem 0; /* Reduced padding to minimize space */
          font-weight: bold;
          // border-bottom: 1px solid #444;
          text-align: center;
          align-items: center; /* Ensures vertical centering of the SVG and text */
          flex-direction: column;
          font-size: medium;
          height: 120px; // Set a fixed height that accommodates the tallest content
          margin-top: 3rem;


          img {
            height: auto; /* Adjust height automatically to maintain aspect ratio */
            width: 80%; /* Adjust width to fit within the header */
            
          }

          &:hover {
            color: #00d1b2;
          }
        }

        .proposition-dropdown {
          display: none;
          padding: 0.5rem auto;
          font-size: medium;
          text-align: center;
          margin-top: 2em;
        }

        .proposition-dropdown.visible {
          display: block;
        }
      }
    }

    .min-height-dropdown{
      min-height: 3em;
      // max-height: 2.5em;
      text-align: center;
      margin: auto;
    }
  }

  .dropdown-text {
    margin: 3em 0;
  }
}

@media (max-width: 768px) {
  .value-propositions {
    color: #ffffff;
    padding: 2rem 1rem; /* Adjust overall padding around the columns */
    height: auto;
  
    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .column {
      display: flex;
      flex-direction: column;
  
      .proposition {
        background: $background-color; /* Make sure this variable is defined or replace with a hex color */
        border-radius: 5px;
        margin-bottom: 2rem;
        padding: 1rem; /* Reduced padding */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        .proposition-header {
          display: flex;
          justify-content: center; /* Centered content horizontally */
          cursor: pointer;
          padding: 0.5rem 0; /* Reduced padding to minimize space */
          font-weight: bold;
          // border-bottom: 1px solid #444;
          text-align: center;
          align-items: center; /* Ensures vertical centering of the SVG and text */
          flex-direction: column;
          font-size: medium;
          height: 120px; // Set a fixed height that accommodates the tallest content
          margin-top: 5rem;
  
  
          img {
            height: auto; /* Adjust height automatically to maintain aspect ratio */
            width: 80%; /* Adjust width to fit within the header */
            
          }
  
          &:hover {
            color: #00d1b2;
          }
        }
  
        .proposition-dropdown {
          display: none;
          padding: 0.5rem auto;
          font-size: medium;
          text-align: center;
          margin-top: 2em;
        }
  
        .proposition-dropdown.visible {
          display: block;
        }
      }
    }
  }

  .cost-top-margin{
    margin-top: 1rem;
  }

  .value-img-5{
    scale: 0.8;
    margin-bottom: -40px;
    margin-top: 0px;
    padding: 0;
    filter: invert(1);
  }

  .value-img-2{
    scale: 0.8;
    margin-top: -5vh;
    padding: 0;
  }

  .dropdown-text {
    margin: 6rem 0 3rem 0;
  }
  
}

.proposition-title-text{
  font-size: 1.5rem;
}



.arrow {
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-block;
  margin-left: 10px;
}

/* Add this within your .proposition-header:hover for interactive color change */
.proposition-header:hover .arrow {
  color: #00d1b2;
}

.proposition-title-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}


//get it touch

.get-in-touch {
  color: #ffffff;
  padding: 2rem 1rem;
}

.title {
  margin-bottom: 1rem;
}

.content {
  font-size: 1rem;
  display: flex;
  justify-content: space-between; /* Space columns evenly */
  align-items: flex-start; /* Vertical alignment */
}

.footer-column {
  flex: 1; /* Equal width for each column */
  text-align: center; /* Center the content of columns */
}

.office {
  color: #9e9e9e;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.location {
  color: #ffffff;
  font-weight: bold;
  margin-top: 1rem;
}

p {
  margin: 0.5rem 0;
}

i {
  color: #fff;
  margin-right: 0.5rem;
}

.fa {
  padding: 20px;
  font-size: 20px !important;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .content {
      flex-direction: column; /* Stack columns vertically */
      align-items: center; /* Center align the items when stacked */
  }

  .footer-column {
      text-align: left; /* Align text to the left in mobile view */
      flex: none; /* Remove flex sizing */
      width: 100%; /* Full width for each column */
      margin-bottom: 20px; /* Add some space between stacked columns */
  }

  .footer-column:last-child {
      margin-bottom: 0; /* No bottom margin for the last column */
  }
}




/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #282626; // Track color
}

::-webkit-scrollbar-thumb {
  background-color: #2476FF; // Scrollbar thumb color
  border-radius: 10px; // Roundness of the scrollbar thumb
  border: 2px solid #282626; // Creates padding around scrollbar thumb
  cursor: grab; // Change cursor to grab

  &:hover {
      background-color: #FF0072; // Thumb hover color
  }

  &:active {
      cursor: grabbing; // Change cursor to grabbing when active
  }
}

/* Remove navbar hover backgrounds */
.navbar {
  .navbar-burger:hover {
      background-color: transparent !important;
  }

  .navbar-item:hover {
      background-color: transparent !important;
  }
}

.navbar-hidden {
  display: none;
}

.founders-name{
  font-size: 2rem;
}

.founding-role{
  font-size: large;
}

.founding-description{
  font-size: small;
}

.min-width-btn{
  min-width: 0px;
}

.min-height-dropdown{
  min-height: 3.25em;
  // max-height: 2.5em;
  text-align: center;
}

.bot-border{
  border-bottom: #fff 2px solid;
}

.get-in-touch .container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Ensures responsiveness */
  align-items: flex-start; /* Aligns items at the start of the container */
  background-color: $background-color;
}

.header {
  width: 100%; /* Full width to center the title */
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  width: 95%; /* Takes full width of container */
  // justify-content: space-around; /* Better space management */
  // align-items: center; /* Vertical alignment */
  max-width: 1450px;
  background-color: $background-color;
  margin: 0 auto;

}

.location-column, .contact-column {
  flex: 1; /* Each column takes equal space */
  margin: 10px; /* Adds margin around each column */
  display: flex;
  flex-direction: column;
  align-items: left; /* Centers items in columns */
}

.contact-us, .follow-us {
  width: 100%; /* Full width for alignment */
  text-align: center; /* Centers the text */
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center; /* Centers social icons horizontally */
  gap: 20px; /* Space between social icons */
}

.footer-link {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stacks columns vertically on smaller screens */
    width: 100%; /* Takes full width of container */
    align-items: left; /* Centers items in columns */
    margin: 0;
    padding: 0;
      
  }

  .contact-us, .follow-us {
    width: 100%; /* Full width for alignment */
    text-align: left; /* Centers the text */
    margin-bottom: 20px;
  }

  .social-links {
    width: 100%;
    justify-content: flex-start;
    text-align: left; /* Centers the text */
  }
}

@media (max-width: 768px) {
  .reverse-mobile{
    flex-direction: column-reverse;
  }
}

.address p {
    display: flex;
    align-items: start;  /* Aligns items to the start of the container, good for multiline text */
}

.address i {
    margin-right: 10px; /* Adjust as necessary for proper spacing */
    flex-shrink: 0;     /* Prevents the icon from shrinking */
}

.address .text {
    text-indent: -10px; /* Indents the first line to align with other lines if needed */
    padding-left: 1em; /* Adjust this value to match the margin-right of the icon */
}

.image-container {
  display: inline-block;
  padding: 3px; /* Space for the border */
  background: linear-gradient(45deg, $gradient-start, $gradient-end);
  border-radius: 12px; /* Optional: Rounds the corners of the border */
}

.image-container img {
  display: block;
  border-radius: 10px; /* Optional: Rounds the corners of the image */
}


.seventy-width{
  width: 80%;
}


@media (min-width: 769px){
  .max-container-width-desktop{
    max-width: 1450px !important;
  }

  .container-width{
    width: 100%;
  }
}

.color-correction{
  background-color: #333333;
}

.text-left{
  text-align: left;
}